!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Comments
    link(rel='stylesheet', href='/stylesheets/onScreenKeyboard.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/comments.css', type='text/css')
    script(src="/socket.io/socket.io.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='js/jquery.onScreenKeyboard.js')
    script(src='js/comment.js')
  body 
    input(type='hidden',id='visionData',value=visionData)
    fieldset#form
      .control-group
          textarea(rows='3', cols='40', id="comment", placeholder="Join the discussion...").keyboard
      .control-group
          #name-label.input-label-large.horiz(for='') NAME:
          .controls
            input#name.keyboard.horiz
      div#submit.horiz Submit
    div#comments
     
        
          

       