!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Comments
    link(rel='stylesheet', href='/stylesheets/onScreenKeyboard.css', type='text/css')
    script(src="/socket.io/socket.io.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='js/jquery.onScreenKeyboard.js')
    script(src='js/comment.js')
  body 
    input(type='hidden',id='visionData',value=visionData)
    fieldset
      .control-group
          .input-label-large(for='') Name
          .controls
            input#name.keyboard
      .control-group
          .input-label-large(for='') Comment
          textarea(rows='6', cols='40', id="comment").keyboard this is my comment
      .control-group
        label.control-label(for='Submit')
        .controls
    button.btn.btn-default.form-btn(type="button", id='submit') Submit
    div#comments
     
        
          

       