!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Gallery Admin
    script(src="/socket.io/socket.io.js")
    script(src='js/jquery-1.10.2.min.js')
    link(rel='stylesheet', href='/stylesheets/fonts.css', type='text/css')
    link(href="/stylesheets/bootstrap.min.css", rel='stylesheet')
    script(src='js/gallery_admin.js')
    link(rel='stylesheet', href='stylesheets/gallery_admin.css')
    style
    script
  body
    input(type='hidden',id='visionData',value=visionData)
    input(type='hidden',id='imageData',value=imageData)
    div#previous.bottom < Previous
    div#showing.bottom
        | Showing 1 - 50 
    div#next.bottom Next >
    button.btn.btn-default(type="button", id='restart-drawing') Refresh Input Stations
    button.btn.btn-default(type="button", id='restart-projection') Refresh Projection
    button.btn.btn-default(type="button", id='restart-rating') Refresh Rating
    div#note Note: Changes only take effect once "Apply Changes" button is pressed
    table(id='header')
          tr.topRow
            td.date.header Date
            td.thumb.header Image
            td.vision.header Vision
            td.header.header-check Show in Gallery?
            td.header.header-check Curator Favorites (Always visible)
            td.apply.header 
              button.btn.btn-default(type="button", id='submit') Apply Changes
    div#table-holder
        table(id='table')
