!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Timeline of the Future
    link(rel='stylesheet', href='/stylesheets/onScreenKeyboard.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/fonts.css', type='text/css')
    link(href="/stylesheets/bootstrap.min.css", rel='stylesheet')
    link(href="/stylesheets/slabtext.css", rel='stylesheet')
    link(href="/stylesheets/timeline.css", rel='stylesheet')
    link(href="/stylesheets/animation.css", rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/honeycomb2.css', media='screen', type='text/css')
    link(rel='stylesheet', href='stylesheets/filter.css', media='screen', type='text/css')
  body.demos
    input(type='hidden',id='visionData',value=visionData)
    input(type='hidden',id='imageData',value=imageData)
    #background
      #background-texture
    #scroll-wrapper
      #container.horizontal
    #detail
        #detail-backdrop
        #detail-vision
          div#detail-image
          div#detail-shade
          div#detail-h1-container
            #detail-h1 
        div#detail-side-bar
          #detail-date 2015
          #detail-scroll.scroll
            #detail-details.side-text “”
            #detail-created-by.attribution.side-text by anonymous
            #detail-created-date.attribution.side-text 5.17.2014
        #detail-parent
        div#detail-child-container
        div#inspiration-label.label Inspiration:
        div#prediction-label.label Related Predictions:
        #build-button
        button.btn.btn-default.form-btn(type="button", id='detail-back') Back
    div#drawing-container
      div#create
        iframe#drawing(src='drawing', allowtransparency="true", frameBorder="0")
        div#textArea
          form(id="visionForm")
            textarea(id="vision", class = "keyboard")
        button.btn.btn-default(type="button", id='next') Next
      div#invisibleClick
      div#new-side-bar.side-bar
        div.logo
        div#new-prompt
          h1
            | Add your prediction!
          h3
            | Choose a background:
        button.btn.btn-default(type="button", id='new-back') Back
      div#drawing-side-bar.side-bar
        div.logo
        div#drawing-parent.parent
        div#prompt-text
          h1
            | What will happen next?
          h1
            | What might happen instead?
          h3
            | Write or draw your prediction using the tools to the right.
        button.btn.btn-default(type="button", id='back') Back
      div#moreInfo
        #popup-heading Tell us more about your idea
          form.form-horizontal(value="Send" id="inputForm")
              fieldset
                .control-group
                  .input-label-large(for='selectbasic') When will this happen?
                  .controls
                    select#yearSelect(id='year')
                .control-group
                  label.control-label(for='Submit')
                  .controls
                fieldset#secondary
                  .control-group
                    .input-label(for='') What inspired you to write this prediction?
                    textarea(rows='6', cols='40', id="inspiration", class="keyboard")
                  .control-group
                    .input-label-large(for='') Tags (e.g. climate, utopia, Oakland)
                    .controls
                      input#tags.keyboard
                  .control-group
                    .input-label(for='') Name
                    .controls
                        input#name.keyboard
        div#bottomButtons
            button.btn.btn-default.form-btn(type="button", id='Edit') Keep Editing
            button.btn.btn-default.form-btn(type="button", id='Submit') Submit
    #bottom-bar
      #bottom-bar-filter
        #bottom-bar-back
      #bottom-bar-main.show
        #futures-logo
        #add-new
        #filter
    script(src="/socket.io/socket.io.js")
    script(src='js/jquery-1.10.2.min.js')
    script(src='js/jquery.slabtext.js')
    script(src='js/jquery.onScreenKeyboard.js')
    script(src='js/iscroll.js')
    script(src='js/input/drawing.js')
    script(src='js/input/detail.js')
    script(src='js/input/timeline.js')
