::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100,100,100,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}
body {
  font-family: 'BentonSans-Book', Sans-Serif;
  overflow: hidden;
  height: 100%;
}
#comments,
#form {
  font-size: 16px;
  color: #f1f2f2;
  margin: 0px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#comments {
  margin-bottom: 30px;
}
#form {
  border-style: none none dashed none;
  border-width: 2px;
}
.horiz {
  display: block;
  float: left;
  margin-left: 20px;
  height: 80px;
}
#comments {
  overflow: auto;
  height: 300px;
}
.name {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}
#submit {
  font-family: 'BentonSans-Bold', Sans-Serif;
  float: left;
  display: inline;
  border: solid 2px #fff;
/*padding-top: 20px;*/
  width: 141px;
  font-size: 18px;
  color: #000;
  background-color: #bed62f;
  height: 78px;
  text-align: center;
  line-height: 78px;
  text-transform: uppercase;
  border-radius: 40px;
  border: none;
}
#name-label {
  font-family: 'BentonSans-Bold', Sans-Serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 80px;
}
#name {
  width: 495px;
  background: none;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  margin-right: 30px;
}
textarea {
  background-color: transparent;
  font-size: 21px;
  padding: 10px;
  margin: 30px;
  margin-left: 0px;
  color: #fff;
  width: 900px;
}
