transition-all(){
  -webkit-transition: arguments;
    -moz-transition: arguments;
    -o-transition: arguments;
    -ms-transition: arguments;
    transition: arguments;
}

transform-all(){
  -webkit-transform: arguments;
  -moz-transform: arguments;
  -ms-transform: arguments;
  transform: arguments;
}

unselectable-all(){
   -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}

filter-all(){
  filter: arguments;
    -webkit-filter: arguments;
    -moz-filter: arguments;
    -o-filter: arguments;
    -ms-filter: arguments;
}

border-radius-all(){
  -webkit-border-radius: arguments;
  -moz-border-radius: arguments;
  border-radius: arguments;
}

#bottom-bar{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 110px;
  width: 1920px;
  opacity: 1;
  background: #000;
}

#bottom-bar-back{
  width: 80px;
  height: 80px;
  float: left;
  margin: 15px;
   display: inline;
   background: url('/images/back.png');
}


#bottom-bar-filter{
  position: absolute;
  top: 0px; 
  left: 0px;
  width: 100%;
  height: 100%;
  //background-color: #f00;
  
  //display: inline;
}

#bottom-bar-main{
 position: absolute;
  top: 110px; 
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  //opacity: 0;
}

#bottom-bar-main.show{
  top: 0px; 

}

#futures-logo{
  width: 454px;
  height: 110px;
  float: left;
  margin-left: 15px;
   display: inline;
   background: url('/images/futures-logo.png');
}

#add-new{
  width: 182px;
  height: 110px;
  float: right;
  margin-left: 15px;
   display: inline;
   background: url('/images/add-new.png');
}

#filter{
  width: 182px;
  height: 110px;
  float: right;
  margin-left: 15px;
   display: inline;
   background: url('/images/filter-button.png');
}

.filter-button{
  float: left;
   display: inline;
   border: solid 2px #fff;
   /*padding-top: 20px;*/
  width:141px;
  font-size: 18px;
  margin-top: 14px;
  color: #fff;
  height:78px;
  text-align: center;
  line-height: 78px;
  text-transform:uppercase;
  background-color: #000;
}

.left{
   border-radius: 40px 0px 0px 40px;
}

.right{
   border-radius: 0px 40px 40px 0px;
}

.active{
  background-color: #fff;
  color: #000;
}