#bottom-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 110px;
  width: 1920px;
  opacity: 1;
  background: #000;
  font-family: 'Conv_BentonSans-Bold', Sans-Serif;
}
#bottom-bar-back {
  width: 80px;
  height: 80px;
  float: left;
  margin: 15px;
  display: inline;
  background: url("/images/back.png");
}
#bottom-bar-filter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#bottom-bar-main {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
}
#bottom-bar-main.show {
  top: 0px;
}
#futures-logo {
  width: 454px;
  height: 110px;
  float: left;
  margin-left: 15px;
  display: inline;
  background: url("/images/futures-logo.png");
}
#add-new {
  width: 182px;
  height: 110px;
  float: right;
  margin-left: 15px;
  display: inline;
  background: url("/images/add-new.png");
}
#filter {
  width: 182px;
  height: 110px;
  float: right;
  margin-left: 15px;
  display: inline;
  background: url("/images/filter-button.png");
}
.filter-button {
  float: left;
  display: inline;
  border: solid 2px #fff;
/*padding-top: 20px;*/
  width: 141px;
  font-size: 18px;
  margin-top: 14px;
  color: #fff;
  height: 78px;
  text-align: center;
  line-height: 78px;
  text-transform: uppercase;
  background-color: #000;
}
.left {
  border-radius: 40px 0px 0px 40px;
}
.right {
  border-radius: 0px 40px 40px 0px;
}
.active {
  background-color: #fff;
  color: #000;
}
