body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #fff;
}
a {
  /*color: #00b7ff;*/
}


#popup{
	

	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0px;
	left: 0px;
	/*visibility:hidden;*/
}

#restart-drawing{
	position: absolute;
	top: 10px;
	right: 60px;
	z-index: 200;
}

#restart-projection{
	position: absolute;
	top: 10px;
	right: 300px;
	z-index: 200;
}

#inputForm{
	position:absolute;
	width: 30%;
	height: 80%;
	right: 0px;
	top: 130px;
	padding: 20px;
	font-size: 12px;
}
#drawingContainer{
	width: 420px;
	height: 420px;
	position:absolute;
	left:28px;
	top:28px;
}

#dropzone{
	position: absolute;
	width: 300px;
	height: 200px;
	bottom: 0px;
	background: #0f0;
}

#brush-container{
	background: #333;
}

#closeButton{
	background-image:url('/images/close-02.png');
	width: 50px;
	height: 50px;
	position:absolute;
	right: 15px;
	top:5px;
}

#bg{
	position:absolute;
	top:120px;
	left: 0px;
	width: 800px;
	height: 600px;
	font-style: italic;
	text-align: center;
	margin: 20px;
	padding: 10px;
	color: #999;
	border: 3px dashed #CCC;
	cursor: default;
	z-index: 5;
}

.hover
{
	color: #f00;
	border-color: #f00;
	background-color: #fff;
	box-shadow: inset 0 4px 4px #888;
}

#title{
	display: block;
	font-size: 24px;
	/*color: #fff;*/
	padding: 20px;
	width: 100%;
	
}

#newVision{
	position:absolute;
	z-index: 20;
	left: 850px;
	top: 700px;
}

.input-large{
	width: 100%;
	font-size: 36px;
	color: #000;
	padding:10px;
	margin-top: 10px;
	background: none;
}

.input-medium{
	border-radius: 2px;
	font-size: 12px;
	
	width: 300px;
}

.input-label{
	font-size: 12px;
	margin-top: 12px;
	margin-bottom: 8px;
}

.input-label-large{
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#secondary{
	border-color: #ccc;
	margin-top: 20px;
	font-style:italic;
	color: #999;
}

#delete{
	position: absolute;
	top:293px;
	font-size:14px;
	right: 40px;
	z-index: 40;
	border-color:#999;
	background-color: #999;
	font: 10px;
	padding:12px;
	width:90px;
}

#Submit{
	background: #000;
	font-size: 20px;
	width: 200px;
}

 div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

    #dialog-confirm{
    	display:block;
	z-index: 80;
	background: #fff;

}