body {
  padding: 100px;
  font-family: 'BentonSans-Regular', sans-serif;
  color: #fff;
  background-color: #000;
}
a {
  /*color: #00b7ff;*/
}


#popup{
	

	width: 100%;
	height: 120%;
	/*height: 100%;*/
	
	position: absolute;
	top: 0px;
	left: 0px;
	/*visibility:hidden;*/
}

#restart-drawing{
	position: absolute;
	top: 10px;
	right: 60px;
	z-index: 200;
}

#restart-projection{
	position: absolute;
	top: 10px;
	right: 300px;
	z-index: 200;
}

#inputForm{
	position:absolute;
	width: 30%;
	height: 80%;
	right: 0px;
	top: 130px;
	padding: 20px;
	font-size: 14px;
}

#drawingContainer{
	width: 420px;
	height: 420px;
	position:absolute;
	left:28px;
	top:28px;
}

input{
	color: #fff;
}

textarea{
	color: #fff;
}
#dropzone{
	position: absolute;
	width: 300px;
	height: 200px;
	bottom: 0px;
	background: #0f0;
	background-width: 100%;
}

#brush-container{
	background: #333;
}

#closeButton{
	background-image:url('/images/close-02.png');
	width: 50px;
	height: 50px;
	position:absolute;
	right: 15px;
	top:5px;
}

#bottomBar{
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0px;
	left: 0px;
	background-color:rgba(100,100,100,0.9);
	z-index: 200;
}
#bg{
	position:absolute;
	top:120px;
	left: 0px;
	width: 68%;
	height: 80%;
	/*height: 600px;*/
	font-style: italic;
	text-align: center;
	margin: 20px;
	padding: 10px;
	color: #999;
	cursor: default;
	z-index: 5;
	background-size: 100% auto;
}

.hover
{
	color: #f00;
	border-color: #f00;
	background-color: #fff;
	box-shadow: inset 0 4px 4px #888;
}

#title{
	display: block;
	font-size: 18px;
	/*color: #fff;*/
	padding: 20px;
	width: 100%;
	
}

#newVision{
	position:absolute;
	z-index: 20;
	left: 850px;
	top: 700px;
}

.input-large{
	width: 100%;
	font-size: 28px;
	color: #000;
	padding:10px;
	margin-top: 10px;
	 font-family:'Oita-Book',Sans-Serif;
	background: #fff;
}

.input-medium{
	border-radius: 2px;
	font-size: 12px;
	
	width: 300px;
}

.input-label{
	font-size: 18px;
	margin-top: 12px;
	margin-bottom: 8px;
}

.input-label-large{
	font-size: 16px;
	font-weight: bold;
	margin-top: 12px;
	color: #bed62f;
	margin-bottom: 5px;
}


#checkboxes{
	height: 150px;
	width: 200px;
}
#rightCol{
	position: absolute;
	left: 150px;
}

#leftCol{
	position: absolute;
	left: 10px;
	
}
#delete{
	position: fixed;
	bottom:10px;
	font-size:18px;
	left: 10px;
	z-index: 40;
	border-color:#000;
	background-color: #000;
	font: 10px;
	padding:12px;
	width:200px;
}

.checkboxtext{
	font-size: 15px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.1); /* IE */
  -moz-transform: scale(1.1); /* FF */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
  padding: 5px;
  margin: 5px;
}

#tags{
	margin: 5px;
}
#Submit{
	position: fixed;
	background: #bed62f;
	color: #000;
	font-size: 24px;
	width: 200px;
	z-index: 300;
	right: 10px;
	bottom: 10px;
}

 div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

    #dialog-confirm{
    	display:block;
	z-index: 80;
	background: #fff;

}

.controls{
	margin-top: 10px;
	font-size: 14px;
	background: none;
}

#name{
	background-color: transparent;
}

textarea{
	background-color: transparent;
}

