
html{
	font-family: 'BentonSans-Regular', Sans-Serif;
}



 .table{
 	width: 100%;
 	height: 400px;
 }

 .date{
 	width: 80px;
 	font-size: 10px;
 }

 .thumb{
 	width: 150px;
 }

 .vision{
 	font-size: 16px;
 	width: 400px;
 }

 tr{
 	height: 100px;
 }

 .header{
 	font-size: 14px;
 	
 	background-color: #ddd;
 }

 .topRow{
 	font-weight: bold;
 	height: 60px;
 }

 td{
 	padding: 10px;
 }

#header{
	position: absolute;
	top: 60px;
}
#table-holder{
	position: absolute;
 	top: 120px;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}
 .bottom{
 	position: absolute;
 	top: 20px;
 	width: 100px;
 	/*height: 80px;*/
 	z-index: 100;
 	font-size: 14px;
 }

 .apply{
 	width: 250px;
 }

 #previous{
 	left: 20px;
 }

 #showing{
 	left: 120px;
 	width: 120px;
 }

 #next{
 	left: 230px;
 }

 #submit{
 	top: 0px;
 	right: 20px;
 	/*top: 0px;
 	left: 350px;*/
 }

 button{
 	position: absolute;
 	margin: 10px;
 	font-size: 12pt;
 }

 #restart-drawing{
 	left: 350px;
 }

 #restart-projection{
 	left: 600px;
 }