#hex-container {
  background-color: #f00;
  width: 11000px;
}
.row {
  margin: 0px 0px;
  text-align: center;
}
.top {
  margin-top: 0px;
  text-align: center;
}
.even {
  margin-left: 21.6%;
}
.hexagon {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
/*opacity: 0.8;
  transform-all: scale(2) rotate(120deg);*/
  opacity: 1;
/* -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);*/
  display: inline-block;
  cursor: pointer;
/* width: 150px;
  height: 300px;*/
  margin: 0px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(120deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(120deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(120deg);
  transform: translateX(-50%) translateY(-50%) rotate(120deg);
/* margin: -100px auto 0 auto;*/
}
.hexagon.hide {
  opacity: 0;
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.innerText {
  position: absolute;
  top: 100px;
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #000;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  background-size: 100%;
}
.hexagon-in2-small {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #000;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
