@import url("http://fonts.googleapis.com/css?family=OpenSans");
body {
  background: #000;
  font-family: 'Open Sans', san-serif;
  text-align: center;
  color: #000;
}
#hex-container {
  background-color: #f00;
  width: 11000px;
}
.row {
  margin: 0px 0px;
  text-align: center;
}
.top {
  margin-top: 0px;
  text-align: center;
}
.even {
  margin-left: 21.6%;
}
.hexagon {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
/*opacity: 0.8;
  transform-all: scale(2) rotate(120deg);*/
  opacity: 1;
  -webkit-transform: scale(0.9) rotate(120deg);
  -moz-transform: scale(0.9) rotate(120deg);
  -ms-transform: scale(0.9) rotate(120deg);
  transform: scale(0.9) rotate(120deg);
/* -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);*/
  display: inline-block;
  cursor: pointer;
/* width: 150px;
  height: 300px;*/
  margin: 0px;
/* margin: -100px auto 0 auto;*/
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.innerText {
  position: absolute;
  top: 100px;
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #000;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
