body{
	font-family:'BentonSans-Regular',Sans-Serif;
	font-size: 22px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	background-color: #000;
	overflow: hidden;
	}

#container{
	
	width: 1000px;
	height: 748px;
	position:absolute;
	margin: 10px;
	padding: 0px;
	background-color: #000;
}

#skip{
	position:absolute;
	background: url('/images/skip-button.png');
	top: 560px;
	right: 20px;
	width: 148px;
	height: 74px;
	z-index: 40;
	
	color: #333;
	font-size: 24px;
	
}

#like{
	position: absolute;
	top: 5px;
	left: 915px;
	width: 80px;
	height: 80px;
}

.like{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 80px;
}

.like.show{
	opacity: 1;
}

#heart-down{
	background: url('/images/heart-down-01.png');

}


#heart{
	background: url('/images/heart-01.png');
	
}
#image{
	position: absolute;
	width: 980px;
	top: 12px;
	left: 12px;
	height: 540px;
	background-color: #333;
	background-size: 100%, auto;
}

#slider-val{
	font-family: 'Conv_BentonSans-Bold';
	position:absolute;
	top:-40px;
	font-size:25px;
	/*color: #00A79D;*/
	color: #bfd730;

	/*font-weight: 1000;*/

}
#text-shade{
	width:1000px;
	height: 400px;
	position: absolute;
	margin:0px;
	top: 200px;
	background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */

}
#question{
	position: absolute;
	top: 560px;
	left: 12px;
	color:  #999;
	font-size: 25px;
}
#text-container{
	/*position: absolute;*/
	/*font-family:'BentonSansCond-Regular',Sans-Serif;*/
/*	font-weight: 80;*/
	width:940px;
	left:30px;
	height: 120px;
	position: absolute;
	margin:0px;
	top: 300px;
	
	color:#fff;
	/*background-color: #000;*/
	
}

#controls{
	width:920px;
	position: absolute;
	left: 30px;
	/*padding:40px;*/
	top: 635px;
}
h3{
	text-align:center;
	/*text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);*/
}

h2{
	font-size: 16px;
}
#slider-wrapper{
		position:absolute;
	top:5px;

	height: 40px;
}

#submit{
	background: url('/images/submit.png');
	position: absolute;
	top: 10px;
	left: 792px;
	width: 151px;
	height: 77px;
	/*background: #333;
	
	color: #fff;*/
	
}

#popup{
	position: absolute;
	top: 200px;
	left: 232px;
	padding: 32px;
	background-color: #000;
	color: #fff;
	width: 426px;
	height: 241px;
	z-index: -100;
	font-size: 25px;
	opacity: 0;
}

#popup.show{
	opacity: 1;
	z-index: 100;
}


#popup-heart{
	display: inline-block;

	background: url('/images/popup-heart.png');
	width: 37px;
	height: 33px;
	margin-top: 5px;
	margin-right: 10px;
}

#rating-close{
	background: url('/images/rating-close.png');
	position: absolute;
	width: 46px;
	height: 42px;
	top: 0px;
	right: 0px;
}

.popup-text{ 
	height: 46px;
	width: 100%;
}

#popup-question{
	height: 63px;
	color: #999;
}

#never{
	position: absolute;
	top:20px;
	padding: 10px;
	padding-left: 20px;
	left: 780px;
	font-size: 16px;
	color: #fff;
	border-left: 1px dashed #333;
	
	
}

.bold{
	font-family: 'Conv_BentonSans-Bold';
}

#slider{
	/*position: absolute;
	bottom: 10px;*/
	height: 60px;
}