body{
	font-family:'BentonSans-Regular',Sans-Serif;
	font-size: 15px;
	color: #666;
	padding: 0px;
	margin: 0px;
	background-color: #000;
	overflow: hidden;
	}

#container{
	
	width: 1000px;
	height: 748px;
	position:absolute;
	margin: 10px;
	padding: 0px;
	background-color: #000;
}

#skip{
	position:absolute;
	top: 550px;
	right: 10px;
	z-index: 40;
	height: 20px;
	color: #333;
	font-size: 24px;
	
}

#like{
	position: absolute;
	top: 5px;
	left: 915px;
	width: 80px;
	height: 80px;
}

.like{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 80px;
}

.like.show{
	opacity: 1;
}

#heart-down{
	background: url('/images/heart-down-01.png');

}


#heart{
	background: url('/images/heart-01.png');
	
}
#image{
	position: absolute;
	width: 980px;
	left: 12px;
	height: 550px;
	background-color: #333;
	background-size: 100%, auto;
}

#slider-val{
	position:absolute;
	top:-2px;
	font-size:20px;
	color: #00A79D;
	font-weight: 800;

}
#text-shade{
	width:1000px;
	height: 400px;
	position: absolute;
	margin:0px;
	top: 200px;
	background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */

}
#question{
	position: absolute;
	top: 585px;
	left: 30px;
	color:  #fff;
	font-size: 32px;
}
#text-container{
	/*position: absolute;*/
	/*font-family:'BentonSansCond-Regular',Sans-Serif;*/
/*	font-weight: 80;*/
	width:940px;
	left:30px;
	height: 120px;
	position: absolute;
	margin:0px;
	top: 300px;
	
	color:#fff;
	/*background-color: #000;*/
	
}

#controls{
	width:920px;
	position: absolute;
	left: 30px;
	/*padding:40px;*/
	top: 635px;
}
h3{
	text-align:center;
	/*text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);*/
}

h2{
	font-size: 16px;
}
#slider-wrapper{
		position:absolute;
	top:30px;
	height: 40px;
}

#submit{
	position: absolute;
	top: 30px;
	left: 820px;
	background: #333;
	
	color: #fff;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 4px;
	font-size: 16px;
}

#never{
	position: absolute;
	top:20px;
	padding: 10px;
	padding-left: 20px;
	left: 780px;
	font-size: 16px;
	color: #fff;
	border-left: 1px dashed #333;
	
	
}

#slider{
	/*position: absolute;
	bottom: 10px;*/
	height: 60px;
}