::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100,100,100,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}
body {
  background: #000;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
  font-family: 'BentonSans-Regular', Sans-Serif;
}
#background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#bottom-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 70px;
  width: 1920px;
  opacity: 0.9;
  background: url("/images/bottom-bar-01.png");
}
#timeline-date {
  z-index: 300;
  font-size: 48px;
  position: absolute;
  font-family: 'BentonSansCond-Regular', Sans-Serif;
  top: 5px;
  right: 10px;
  color: #fff;
  opacity: 0;
}
#timeline-date.show {
  opacity: 1;
}
#projection-date {
  z-index: 300;
  font-size: 48px;
  position: absolute;
  font-family: 'BentonSansCond-Regular', Sans-Serif;
  bottom: 5px;
  right: 10px;
  color: #fff;
}
#background-texture {
  width: 10000px;
  height: 100%;
}
#add-new {
  position: absolute;
  bottom: 12px;
  right: 30px;
  font-size: 18px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
#container {
  width: 10000px;
  height: 100%;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.zoomOut {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
#scroll-wrapper {
  width: 100%;
  height: 100%;
}
/* styles for individual visions*/
.item {
  z-index: 100;
  margin: 0px;
  color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 600px;
}
.item.tap {
  z-index: 200;
}
.item-image {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 2000ms ease;
  -moz-transition: opacity 2000ms ease;
  -o-transition: opacity 2000ms ease;
  -ms-transition: opacity 2000ms ease;
  transition: opacity 2000ms ease;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.front {
  width: 600px;
  height: 400px;
}
.item-text {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: #000;
  font-family: 'BentonSans-Book', Sans-Serif;
  opacity: 0;
  -webkit-transition: opacity 2000ms ease;
  -moz-transition: opacity 2000ms ease;
  -o-transition: opacity 2000ms ease;
  -ms-transition: opacity 2000ms ease;
  transition: opacity 2000ms ease;
  border-style: solid;
  border-color: #fff;
  border-width: 40px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  color: #000;
}
.item-text.omca {
  border-style: solid;
  border-width: 40px;
  color: #fff;
  border-color: #010101;
  background-color: #010101;
}
.item-text.show {
  opacity: 1;
}
/* styles for detail popup
#detail{
	opacity: 0;
}*/
/*.parent-thumb{
 background-size: 100% auto;
 width: 300px;
  
}

.parent-text{
 width: 300px;
  font-size: 20px;
}*/
.side-text {
  font-family: 'BentonSans-Regular', Sans-Serif;
  font-size: 16px;
  padding: 0px;
}
#invisibleClick {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.parent {
  font-size: 18pt;
  position: absolute;
  bottom: 300px;
  width: 520px;
  height: 300px;
}
#detail {
  font-family: 'BentonSans-Regular', Sans-Serif;
  position: absolute;
  top: 540px;
  left: 960px;
  width: 1920px;
  height: 1080px;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.4);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.4);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.4);
  transform: translateX(-50%) translateY(-50%) scale(0.4);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
#detail-vision {
  width: 1132px;
  height: 682px;
  position: absolute;
  top: 75px;
  left: 564px;
}
#detail.show {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.attribution {
/* padding-right: 0px;
  padding-left: 120px;*/
  padding-left: 32px;
*
  padding: 0px;
  padding-top: 10px;
  text-align: left;
  bottom: 20px;
}
*
#detail-details {
  top: 200px;
}
#build-button {
  background: url("/images/build-button.png");
  width: 249px;
  height: 237px;
  position: absolute;
  right: 185px;
  bottom: 38px;
}
#detail-image {
  width: 100%;
  height: 100%;
  right: 0px;
  position: absolute;
  right: 0px;
  background: url("/uploads/0/1/52f2a99b2ea33b9117000001.png");
  background-size: 100% auto;
}
#detail-shade {
  width: 100%;
  height: 600px;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  right: 0px;
  background: #000;
/* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
/* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
/* W3C */
}
#detail-h1-container {
/*position: absolute;*/
/*font-family:'BentonSansCond-Regular',b;*/
  font-family: 'BentonSans-Regular', Sans-Serif;
  font-weight: 100;
  width: 90%;
  left: 0px;
  height: 220px;
  position: absolute;
  margin: 5%;
  bottom: 0px;
  font-size: 48px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.5);
/*background-color: #000;*/
}
#detail-h1 {
  font-size: 48px;
}
#detail-scroll {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px;
  padding: 10px;
  margin-top: 0px;
  margin-left: 30px;
}
#side-bar.show {
  left: 0px;
}
.label {
  color: #ccc;
  position: absolute;
  bottom: 270px;
  background: none;
  font-size: 16px;
}
#inspiration {
  left: 262px;
}
#prediction-label {
  left: 606px;
}
#detail-back {
  position: absolute;
  bottom: 40px;
  left: 20px;
  background-color: #111;
  font-size: 18px;
  border: none;
}
#detail-side-bar {
  position: absolute;
  width: 343px;
  height: 682px;
  left: 223px;
  top: 75px;
  background-color: #ccc;
}
#detail-date {
  font-family: 'BentonSansCond-Regular', Sans-Serif;
  margin-left: 32px;
  text-align: left;
  font-size: 90px;
  color: #909193;
}
#detail-parent {
  position: absolute;
  left: 270px;
  top: 777px;
}
#detail-child-container {
  position: absolute;
  width: 1475px;
  left: 619px;
  top: 777px;
  color: #fff;
}
.thumb {
  background-color: #f00;
  background-size: 100% auto;
  margin-bottom: 5px;
  height: 200px;
}
.related {
  color: #fff;
  font-size: 15px;
  margin-top: 42px;
}
#detail-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.95;
  left: 0px;
  background-color: #000;
}
/* styles for drawing container*/
#drawing-container {
  opacity: 0;
  position: absolute;
  z-index: -20;
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 0px;
  background-color: #efede4;
}
#drawing-container.show {
  opacity: 1;
  z-index: 300;
}
#create {
  height: 100%;
  position: absolute;
  border: none;
  background-color: none;
  top: 0px;
  left: 520px;
}
#textArea {
  width: 1084px;
  position: absolute;
  z-index: 60;
  left: 10px;
  height: 184px;
  margin: 0px;
  top: 888px;
  padding: 10px;
}
#vision {
  width: 100%;
  height: 100%;
  border-color: #fff;
  border-style: dashed;
  background: none;
  border-width: 3px;
  resize: none;
  color: #000;
  font-size: 48px;
  padding: 5px;
}
.close-button {
  background-image: url("/images/close-02.png");
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 200;
}
/*#invisibleClick{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}*/
#popup-heading {
  font-size: 26px;
}
#shade {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 90;
}
#previewImage {
  width: 700px;
  height: 420px;
  margin: 40px;
  background-color: #000;
  background-size: 100%;
}
#previewText {
  width: 700px;
  background-color: #ccc;
  font-size: 36px;
}
#moreInfo {
  position: absolute;
  z-index: -20;
  width: 500px;
  height: 100%;
  right: 0px;
  color: #333;
  padding: 30px;
  background: rgba(255,255,255,0.7);
  opacity: 0;
}
#moreInfo.show {
  opacity: 1;
  z-index: 500;
}
#inputForm {
  font-size: 18px;
  width: 150px;
}
.form-btn {
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
.btn {
  color: #fff;
  font-size: 24px;
  font-family: 'BentonSans-Regular', sans-serif;
}
#back {
  width: 317px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 30px;
  background-color: #666;
}
#new-back {
  width: 317px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 30px;
  background-color: #666;
}
#next {
  width: 230px;
  position: absolute;
  padding: 30px;
  right: 42px;
  bottom: 50px;
  background-color: #666;
  z-index: 499;
}
#drawing {
  width: 1400px;
  height: 880px;
}
.side-bar {
  opacity: 0;
  background-color: #282728;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1080px;
  width: 520px;
}
.logo {
  position: absolute;
  top: 10px;
  width: 500px;
  height: 58px;
  background: url("/images/logo-02.png");
}
.side-bar.show {
  opacity: 1;
}
#drawing-parent {
  width: 400px;
  height: 380px;
  position: absoulte;
  top: 140px;
  left: 55px;
  padding: 0px;
  border: 2px dashed #fff;
}
#drawing-thumb {
  background-color: #fff;
  width: 350px;
  height: 280px;
  margin: 5%;
  width: 90%;
  height: 90%;
  padding: 20px;
  color: #000;
}
#draw-thumb {
  background-size: 100% auto;
  width: 100%;
  height: 60%;
}
#drawing-thumb.related-text {
  color: #000;
  width: 100%;
}
#prompt-text {
  position: absolute;
  width: 370px;
  left: 65px;
  top: 534px;
}
#new-prompt {
  position: absolute;
  width: 370px;
  left: 65px;
  top: 250px;
}
#background-images {
  position: absolute;
  top: 412px;
  left: 45px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 2.5em;
  float: left;
  margin-right: 10px;
  width: 440px;
  height: 400px;
  overflow-y: auto;
  z-index: 300;
}
#background-images li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  float: left;
  width: 200px;
  height: 100px;
  background-size: 100% auto;
}
#scroll-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.side-bar h1 {
  font-family: 'BentonSans-Regular', sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
}
.side-bar h3 {
  font-family: 'BentonSans-Regular', sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
}
/* more info about idea*/
