transition-all(){
  -webkit-transition: arguments;
    -moz-transition: arguments;
    -o-transition: arguments;
    -ms-transition: arguments;
    transition: arguments;
}

transform-all(){
  -webkit-transform: arguments;
  -moz-transform: arguments;
  -ms-transform: arguments;
  transform: arguments;
}

unselectable-all(){
   -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}

filter-all(){
  filter: arguments;
    -webkit-filter: arguments;
    -moz-filter: arguments;
    -o-filter: arguments;
    -ms-filter: arguments;
}

text-gradient(){
  background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

body{
	background: #000;
	//background: #1C1B1E;
	unselectable-all();
    overflow: hidden; 
   // font-family:'BentonSans-Regular',Sans-Serif;
   font-family:'Oita-Book',Sans-Serif;
}

#background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
   -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
 // background-color: #0f0;
}


#timeline-date{
  z-index: 200;
  font-size: 48px;
  position: absolute;
  font-family: 'BentonSansCond-Regular',Sans-Serif;
  top: 5px;
  right: 10px;
  color: #fff;
  opacity: 0;
}

#timeline-date.show{
  opacity: 1;
}

#projection-date{
  z-index: 300;
  font-size: 48px;
  position: absolute;
  font-family: 'BentonSansCond-Regular',Sans-Serif;
  bottom: 5px;
  right: 10px;
  color: #fff;
}

#background-texture{
 // background: url('../../images/background-test-01.png');
 // background: url('/TEST_STORAGE/0/1/533495d9d092e2ea0f000001.png');
  width: 10000px;
  height: 100%;
 // background-color: #f00;
  // -webkit-filter: blur(10px);
//filter-all: brightness(100%);
 
}






#container{
	width: 10000px;
	height: 100%;
  //background: rgba(255, 255, 255, 0.4);
	transition-all: all 1000ms ease;
  //opacity: 0.9;
  //pointer-events:none;
}

.zoomOut{
	transform-all: scale(0.6);
}

#scroll-wrapper{
	width: 100%;
	height: 100%;
}

/* styles for individual visions*/




/* styles for detail popup
#detail{
	opacity: 0;
}*/

/*.parent-thumb{
 background-size: 100% auto;
 width: 300px;
  
}

.parent-text{
 width: 300px;
  font-size: 20px;
}*/

.side-text{
 font-family:'BentonSans-Regular',Sans-Serif;
// font-family:'Oita-Book',Sans-Serif;
  font-size: 16px;
  padding: 0px;

}

#invisibleClick{
  position: absolute;
  width: 100%;
  height: 100%;
 // background: #f00;
  opacity: 0;
}

.parent{
  font-size: 18pt;
  position: absolute;
  bottom: 300px;
  width: 520px;
  height: 300px;
}

#detail{
	//font-family:'BentonSans-Regular',Sans-Serif;
  font-family:'Oita-Book',Sans-Serif;
  position:absolute;
  top: 540px;
  left:960px;
  //transform-all: scale(0.8);
 width:1920px;
 height: 1080px;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transform-all: translateX(-50%) translateY(-50%) scale(0.4);
  //transform-all: scale(0.7);
  transition-all: all 200ms linear;
}


#detail-vision{
	 width: 1132px;
  height: 682px;
  position: absolute;
  top: 75px;
  left: 564px;
  overflow: hidden;
}

#detail.show{
  transform-all:  translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
  visibility: visible;
  

}

.attribution{
  //color #333;
 /* padding-right: 0px;
  padding-left: 120px;*/
  padding-left: 32px;*/
  padding: 0px;
  padding-top: 10px;
  text-align: left;
  bottom: 20px;
}

#detail-details{
  top: 200px;
   
}

#build-button{
   background: url('/images/build-button.png');
   width: 249px;
   height: 237px;
   position: absolute;
   right: 185px;
   bottom: 38px;
}

#detail-image{
 width: 100%;
  height: 100%;
  right: 0px;
  position: absolute;
  right: 0px;
  background: url('/uploads/0/1/52f2a99b2ea33b9117000001.png');
  background-size: 100% auto;
}

#comments{
 /*width: 100%;
  height: 100%;*/
   width: 1132px;
  height: 682px;
  right: 0px;
  position: absolute;
  background: #58595b;
  opacity: 0;
  top: 0px;
  left: -1132px;
  transition-all: all 400ms linear;
 // z-index: -200;
}

#comment-close{
 transition-all: opacity 1ms linear;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
 // z-index: -300;
    opacity: 0;
  background-image: url('/images/close-comment-01.png');
  
  
}

#comment-close.show{
    
     transition-all: opacity 1000ms linear;
    opacity: 1;

  // z-index: 200;
}

#comments.show{
  opacity: 1;
   left: 0px;
 // z-index: 200;
}

#detail-shade{
 width: 100%;
  height: 600px;
  position: absolute;
  margin:0px;
  bottom: 0px;
  right: 0px;
  text-gradient();

}

#detail-h1-container{
  /*position: absolute;*/
  /*font-family:'BentonSansCond-Regular',b;*/
  //font-family:'BentonSans-Regular',Sans-Serif;
  font-family:'Oita-Book',Sans-Serif;
  font-weight: 100;
  width:90%;
  left:0px;
  height: 220px;
  position: absolute;
  margin:5%;
  bottom: 0px;
  font-size: 48px;

  //background-color: #f00;
  color:#fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  /*background-color: #000;*/
  
}

#detail-h1{
  font-size: 48px;
}
#detail-scroll{
	height: 500px;
	overflow-y:auto;
	overflow-x:hidden;
	margin: 20px;
  padding: 10px;
  margin-top: 0px;
  margin-left: 30px;
}


#side-bar.show{
  left: 0px;
}

.label{
  color: #ccc;
  position: absolute;
  bottom: 270px;
  background: none;
  font-size: 16px;
}
#inspiration-label{
  left: 262px;
}

#prediction-label{
  left: 606px;
}

#detail-back{
  position: absolute;
  bottom: 40px;
  left: 20px;
  background-color: #111;
  font-size: 18px;
  border: none;
}

#detail-side-bar{
 //font-family:'Oita-Bold',Sans-Serif;
 font-family:'BentonSans-Regular',Sans-Serif;
  position:absolute;
  width: 343px;
  height: 682px;
  left: 223px;
  top: 75px;
  font-size: 18px;
  //background-color: #ccc;
  background-color: #E3E4E5;
}

#detail-tags{
  margin-top: 80px;
}

#detail-comments{
  position: absolute;
  bottom: 10px;
  left: 30px;
  height: 80px;
 // width: 260px;
  background-color: #00f;
}

#detail-comments-icon{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  background-image: url('/images/comment-dark-01.png');
}

#detail-comments-label{
  position: absolute;
  bottom: 0px;
  left: 75px;
  width: 200px;
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: bold;
}

#detail-date{

 font-family:'Oita-Bold',Sans-Serif;
  margin-left:32px;
  text-align: left;
  font-size: 90px;
  //color: #909193;
   color: #bed62f;
 
}

#detail-parent{
  position: absolute;
  left: 270px;
  top: 777px;

}

#detail-child-container{
	position: absolute;
	width: 1475px;
	left: 619px;
	top: 777px;
	color: #fff;
}

.thumb{
  background-color: #f00;
  background-size: 100% auto;
  margin-bottom: 5px;
 
  height: 200px;

}

.related{
 color: #fff;
  font-size: 15px;
	margin-top: 42px;
  
}

#detail-backdrop{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
  opacity: 0.95;
	left: 0px;
	//z-index: 20;
	background-color: #000;
	//background: #1C1B1E;
  //transition-all: all 200ms linear;
}



/* styles for drawing container*/
#drawing-container{
	opacity: 0;
	position: absolute;
	z-index: -20;
  width: 1920px;
  height: 1080px;
  top: 0px;
 left:0px;
  //background-color:#C9C9C9;
  background-color: #EFEDE4
}

#drawing-container.show{
  opacity: 1;
  z-index: 300;
}

#create{
  height: 100%;
  position: absolute;
  border: none;
  background-color: none;
  top: 0px;
  left: 520px;
}

.input-label-large{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px; 
}

#checkboxes{
  height: 180px;
  width: 200px;
}
#rightCol{
  position: absolute;
  left: 150px;
}

#leftCol{
  position: absolute;
  left: 40px;
  
}

#tagHolder{
  position: absolute;
  top: 350px;
  right: 10px;
}

#tags{
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 5px;
  margin: 5px;
}

#textArea{
        width: 1084px;
        position: absolute;
        z-index: 60;
        left: 10px;
        height: 184px;
        margin: 0px;
        top: 888px;
        //background-color:rgb(255, 255, 255, 0.5);
        padding: 10px;
        
}

#vision{
        //margin: 20px;
        width: 100%;
        height: 100%;
        border-color:#ff;
border-style:dashed;
background: none;
border-width:3px;
  resize: none;
  color: #000;
  font-size: 48px;
  padding: 5px;
}

.close-button{
  background-image:url('/images/close-02.png');
  width: 50px;
  height: 50px;
  position:absolute;
  right: 15px;
  top:5px;
  z-index: 200;
}

/*#invisibleClick{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}*/

#popup-heading{
  font-size: 26px;
  font-family:'Oita-Bold',Sans-Serif;
}

#shade{
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 90;
}

#previewImage{
        width: 700px;
        height: 420px;
        margin: 40px;
        background-color: #000;
        background-size: 100%;
}

#previewText{
          width: 700px;
          background-color: #ccc;
          font-size: 36px;
}

#moreInfo{
  position: absolute;
  z-index: -20;
  width: 500px;
  height: 100%;
  right: 0px;
  color: #333;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
}

#moreInfo.show{
  opacity: 1;
  z-index: 500;
}

#inputForm{
        font-size: 20px;
        width: 150px;

}





.form-btn{
  margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}
.btn{
  
   color: #fff;
    font-size: 24px;
    font-family: 'BentonSans-Regular', sans-serif;
    
}
#bottomButtons{
  margin-top: 200px;
}

#back{
     width: 317px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 30px;
  background-color: #666;
  
}

#new-back{
     width: 317px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 30px;
  background-color: #666;
  
}

#next{
width: 230px;
  position: absolute;
  padding: 30px;
  right: 42px;
  bottom: 50px;
  //width: 100px;
 // height: 50px;
 background-color: #666;
  //background-color: #f00;
  z-index: 499;
}

#drawing{
  width: 1400px;
  height: 880px;
  
}
.side-bar{
  opacity: 0;
  background-color: #282728;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1080px;
  width: 520px;
   
}

.logo{
  position: absolute;
  top: 10px;
  width: 500px;
  height: 58px;
  background: url('/images/logo-02.png');
}

.side-bar.show{
  opacity: 1;
  
}

#drawing-side-bar{
  
}
#drawing-parent{
  width: 400px;
  height: 380px;
 
  //margin: 50px;
  position: absoulte;
  top: 140px;
  left: 55px;
  padding: 0px;

  border:2px dashed white;

}

#drawing-thumb{
  background-color: #fff;

  width: 350px;
  height: 280px;
  margin: 5%;
  width: 90%;
  height: 90%;
  padding: 20px;
  color: #000;
}

#draw-thumb{
background-size: 100% auto;
background-color: #f00;
  width: 100%;
  height: 60%;
}
#drawing-thumb.related-text{
  color: #000;
   width: 100%;
}

#prompt-text{
  position: absolute;
  width: 370px;
  left: 65px;
  top: 534px;
}

#new-prompt{
  position: absolute;
  width: 370px;
  left: 65px;
  top: 250px;
}

#background-images{
  position: absolute;
  top: 412px;
  left: 45px;
  list-style-type: none; 
  margin: 0; 
  padding: 0 0 2.5em; 
  float: left; 
  margin-right: 10px; 
  width: 440px;
  height: 400px;
  overflow-y:auto;
  z-index: 300;
 
}


#background-images li{
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    float: left; 
    width: 200px; 
    height: 100px; 
    background-size:100% auto;
}

#scroll-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left 0px;
  overflow: hidden;

}


.side-bar h1{
  font-family: 'BentonSans-Regular', sans-serif;
  font-size: 32px;
  
  margin-bottom: 50px;
}

.side-bar h3{
  font-family: 'BentonSans-Regular', sans-serif;
 font-size: 24px;
 line-height: 36px;
  margin-bottom: 50px;
}

#drawing-parent{
  
}
/* more info about idea*/
